.quiz-page {
  margin-top: 4rem;
  height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/45551.png"); 
}

.quiz-page > p {
  font-size: 1.2rem;
  background-color: aliceblue;
  width: 10rem;
  padding: 1.1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #1e2c35;
  border-radius: 1rem;
}

/* .quiz-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .quiz-card-container {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .loading-message {
    text-align: center;
    color: #888;
    margin-top: 20px;
  } */
