#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.active {
  text-decoration: underline;
  color: #ffffff;
  background-color: #0000FF;
}

#crammer-navbar {
  background-color: #fff;
  padding: 10px;
  
}

.nav-link {
  text-decoration: none;
  color: #181818;
  margin-right: 35px;
  font-weight: bold;
}



#crammer-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#logo {
  margin-right:40px;
}
