* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #5A9499;
  font-size: 2.4rem;
  font-weight: 500;
}

/* navbar */
#logo {
  margin-right:10px;
  width:150px;
}

#crammer-navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  height:5rem;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-top: 5px #607683 solid;
  margin:auto;
  width:100%;
  margin-bottom: 20px;
  padding: 0 2rem;
  z-index: 1;
}

.nav-link {
  text-decoration: none;
  color: #181818;
  margin-right: 15px;
  margin-left: 15px;
  font-weight: 500;  
  width:fit-content;
  border-radius: 0 0 8px 8px; 
	padding:27px 15px;
  font-size: 1.2rem;
}

.active {
  color: #ffffff;
  border-radius: 0 0 8px 8px;   
  box-shadow: 0 4px 4px 0px rgba(28, 2, 143, 0.35);
  background: linear-gradient(to bottom, #5A9499, #047988);
  width: fit-content;
  z-index: 1;
  height: fit-content;
}


/* Homepage */
.home-container {
  width: 100%;
  height: 100vh;
  text-align: left;
  position: relative;
}

.home-image {
  width: 100%;
  margin-top: 1rem;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 30%;
  color: #EEEFF2;
  display:flex;
  justify-content: center;
  align-items: left;
  flex-direction:column;
}

.welcome-text > h1 {
  color: #EEEFF2;
}

.welcome-text > p {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: justify;
  line-height: 2rem;
}

.btn-container {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 2rem 0;
  margin-right: 18rem;
  font-weight: 500;
}

.login-btn, .signup-btn {
  background-color: #5A9499;
  color: #EEEFF2;
  padding: 1rem;
  width: 8rem;
  border-width: 0;
  border-radius: 1rem;
  font-size: 1.2rem;
}
    
.login-btn:hover, .signup-btn:hover {
  background-color: #607683;
  cursor: pointer;
}

.or-text {
  margin: 0 1rem;
}

/* Register Page */

#register-page{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}


#register-form{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  border-radius:10px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  margin-bottom:70px;
  padding: 50px;
  margin-top: 35px;
  text-align: left;
}

.form-wrapper {
  width: 25rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group > label {
  width: 100%;
}

.input {
  width:100%;
  border-radius:15px;
  border: 0.4px solid darkslategrey;
  margin-bottom: 25px;
  padding:10px;
  
}

.clickable{
  color: #5A9499;
  margin: 1rem;
  margin-left: 0;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.clickable:hover{
  cursor: pointer;
}

.back-btn{
  background-color: #9192f4;
  color: #EEEFF2;
  margin: 1rem;
  margin-left: 0;
  padding: 1rem;
  width: 28rem;
  border-width: 0;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 500;

}

.back-btn:hover{
  background-color: #5659f4;
}


/* footer */
#crammer-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #fff;
  font-size: .7rem;
  padding: 1rem 0;
}

.footer-icon {
  width: 1.2rem;
}

.footer-link {
  display: flex;
  flex-direction: row;
}

.footer-elements{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 0.5rem;
}



